@import '../../scss/variables';
@import '../../scss/mixins';

.chat-rooms {
  &-header {
    margin: 0;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    &__item {
      &:first-child {
        margin-top: $spacer / 4;
      }
      margin: 0 $spacer / 4 $spacer / 4 $spacer / 4;

      &-content {
        display: flex;
        font-size: 1.2rem;
        border-radius: $default-border-radius;
        padding: $spacer;
        background-color: $light-color;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @include hover(null, $grey-color);
        @include box-shadow();
      }
    }
  }
}
