@import '../../scss/variables';
@import '../../scss/mixins';

.dialog {
  &-select-user {
    padding: 20px;
    width: 120px;
    height: 40px;
    line-height: $base-line-height;

    &-label {
      margin-bottom: $spacer;
    }
  }
}
