@import '../../scss/variables';
@import '../../scss/mixins';

.dialog {
  &-select-user {
    padding-left: 10px;
    min-width: 160px;
    height: 36px;

    &-label {
      margin-bottom: $spacer;
    }
  }
}
