@import '../../scss/variables';
@import '../../scss/mixins';

.message-list-item-user {
  @include flex(null, flex-start);
  margin: 0 40% 0 $half-spacer;

  &-me {
    margin-right: $half-spacer;
    margin-left: 40%;
    flex-direction: row-reverse;
  }

  &-initial {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    color: $brown-color;
    font-weight: bold;
    background-color: $light-color;
    border-radius: 20px;
    @include flex(null, center, center);
  }

  &-sender {
    margin-left: $half-spacer;
    margin-bottom: $half-spacer / 2;
    color: $deep-grey-text-color;
  }

  &-text-box {
    &_align {
      &_left {
        margin-left: $half-spacer;
      }
    }
  }

  &-balloon {
    @include flex(null, flex-start);

    &_align {
      &_right {
        flex-direction: row-reverse;
      }
    }

    &__arrow {
      position: relative;
      display: block;
      width: .5rem;
      height: 1rem;
      flex-shrink: 0;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
      }

      &_direction {
        &_left {
          &:after {
            top: 3px;
            left: 1px;
            border-width: .1rem .7rem .7rem 0;
            border-right-color: $light-color;
          }
        }

        &_right {
          &:after {
            top: 3px;
            right: 1px;
            border-width: .1rem 0 .7rem .7rem;
            border-left-color: $yellow-color;
          }
        }
      }
    }

    &__content {
      background-color: $light-color;
      padding: $half-spacer;
      border-radius: $default-border-radius;
      word-break: break-word;
      @include box-shadow(0, 0,.02rem, rgba($black-color, .3));

      &_color {
        &_yellow {
          background-color: $yellow-color;
        }
      }

      &-image {
        max-width: $frame-max-width / 3;
        max-height: $frame-max-width / 3;
      }
    }

    &__datetime {
      display: block;
      font-size: $badge-font-size * 0.9;
      margin-top: $half-spacer;
      color: $grey-text-color;

      &_align_right {
        text-align: right;
      }
    }
  }
}
