@import '../../scss/variables';
@import '../../scss/mixins';

.main {
  @include flex(column, center, center);
  position: relative;

  &__title {
    @include flex(column, null, center);
    flex-grow: 1;
    margin: 0;
    a {
      color: $light-brown-color;
      @include text-shadow(1px, 1px, 1px);
    }
  }

  &__logo {
    border-radius: $default-border-radius;
    margin-bottom: $spacer * 2;
    width: 200px;
    height: 200px;
  }

  &__form {
    @include flex(column);
    flex-grow: 1;
    margin-top: $spacer;

    &-group {
      margin-bottom: $half-spacer;
    }
  }

  &__message {
    position: absolute;
    margin-top: $spacer * 3;
  }

  &__input {
    border: 1px solid $default-border-color;
    border-radius: $default-border-radius;
    display: block;
    padding: $half-spacer;
    line-height: $base-line-height;
    width: 100%;

    &-label {
      display: inline-block;
      margin-bottom: $half-spacer;
    }
  }
}
