html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  @include flex();
  position: relative;
  margin: auto;
  max-width: $frame-max-width;
  max-height: $frame-max-height;
}

.global-spinner {
  @include flex(column, center, center);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
