@mixin hover($color, $background) {
  &:hover {
    background-color: $background;
    @if $color {
      color: $color
    }
  }
}

@mixin flex($direction: null, $align-items: null, $justify-content: null) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
  @if $align-items {
    align-items: $align-items;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
}

@mixin box-shadow($offsetx: 0, $offsety: 1px, $blur-radius: 2px, $color: rgba($black-color, .3)) {
  box-shadow: $offsetx $offsetx $blur-radius $color;
}

@mixin text-shadow($offsetx: 0, $offsety: 1px, $blur-radius: 2px, $color: rgba($black-color, .3)) {
  text-shadow: $offsetx $offsetx $blur-radius $color;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
}
