$spacer: 1rem;
$frame-max-width: 600px;
$frame-max-height: 1000px;
$half-spacer: $spacer / 2;

$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$black-color: #050505;
$light-color: #FFFFFF;
$grey-color: #F7F7F7;
$grey-border-color: #E0E0E0;
$grey-text-color: #9F9F9F;
$default-border-color: #E7E7E7;
$yellow-color: #FEE20A;
$yellow-border-color: #EED30A;
$brown-color: #322924;
$brown-border-color: #1F1917;
$content-background-color: #B0C7D4;

$base-font-size: 16px;
$badge-font-size: 0.9rem;

$heading-font-weight: 500 !default;
$base-line-height: 1.5;
$default-border-radius: 0.25rem;
